<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>HomePage</title>
</head>
<body>
    <div class="login__card" id="login__card">
        <div class="header__box">
            <label>Welcome to Flask API!</label>
            </div>
        <div class="content__box">
            <input type="text" id="name__container" placeholder="Rukia">
            <input type="text" id="last__name__container" placeholder="Kuchiki">
            <input type="number" id="age__container" placeholder="19">
            <input type="email" id="email__container" placeholder="kuchikiRukia@gmail.com">
        </div>
    </div>

</body>
</html>